<!--
Form - Handles form for student signup
Copyright (C) 2018 Nikki Florita
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2017-2018
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program. If not, see https://www.gnu.org/licenses/.
**CHANGELOG**
Carl Araya 2/14/18 - Initial creation
Nikki Florita 2/17/18 - Fix layout of form
Carl Araya 2/21/18 - Add checkbox for org
-->
<!--
File created on: 2/14/18
Developer: Carl Araya
Client: UP Diliman Department of Computer Science Student Organizations
This software aims to provide a convenient avenue for student organizations to display their org and collect contact information from students interested in joining them.
-->

<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui equal width form">
       <div class="fields">
       <div class="field">
         <%= form.label :last_name %>
         <%= form.text_field :last_name, id: :student_last_name %>
       </div>
       <div class="field">
         <%= form.label :first_name %>
         <%= form.text_field :first_name, id: :student_first_name %>
       </div>
       <div class="field">
         <%= form.label :mi, 'MI' %>
         <%= form.text_field :mi, id: :student_mi %>
       </div>
       </div>

       <div class="fields">
         <div class="field">
           <%= form.label :year_level %>
           <%= form.number_field :year_level, min: 1, id: :student_year_level, value: 1%>
         </div>

         <div class="field">
           <%= form.label :course %>
           <%= form.text_field :course, id: :student_course %>
         </div>
       </div>

         <div class="field">
         <%= form.label :birthday %>
       </div>
       <div class="fields">
         <%= form.date_select :birthday, id: :student_birthday, start_year: 1900 %>
       </div>
  
       <div class="fields">
         <div class="field">
           <%= form.label :sn, 'Student Number' %>
           <%= form.text_field :sn, id: :student_sn %>
         </div>

         <div class="field">
           <%= form.label :email %>
           <%= form.email_field :email, id: :student_email %>
         </div>

         <div class="field">
           <%= form.label :contact %>
           <%= form.text_field :contact, id: :student_contact %>
         </div>
       </div>  

  <p>Organization/s to apply</p>
    
    <%= form.collection_check_boxes(:org_ids, @orgs, :id, :name) do |b| %>
      <div class="inline field">
        <div class="ui checkbox">
      <%= b.check_box %>
      <%= b.label %>
      </div>
      </div>
    <% end %>
  </div>

  <br>
  <div class="actions">
    <%= form.submit "Submit", {class:"ui button"} %>
  </div>
<% end %>
