<!DOCTYPE html>
<html>
  <head>
    <title>CoUPonApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
       <div class="bar">
            <img src="/images/logo.png"/>
            <img src="/images/name.png"/>
       </div>
       <div class="menu">
            <a class="navigation" href="/#">Home</a>
            <a class="navigation" href="/#">Organizations</a>
            <a class="navigation" href="/#">Sign Up</a>
            <%= link_to "Manage", (org_signed_in? ? manage_url : new_org_session_path), class: "navigation" %>
            <a class="navigation" href="/#">About</a>
            <% if org_signed_in? %>
              <%= link_to "Sign Out", destroy_org_session_path, method: :delete, class: "navigation" %>
            <% end %>
       </div>
    </div>
    <div style="padding-top: 60px;" />
    <div class="notice"><%= notice %></p>
    <div class="alert"><%= alert %></p>

    <div class="clr"></div>
    <div class="container2">
      <%= yield %>
    </div>
    <div class="clr"></div>
    <div style="margin-top:5em;"></div>
  </body>
</html>
