<!--
Master - Main template for all pages
Copyright (C) 2018 Nikki Florita
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2017-2018
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program. If not, see https://www.gnu.org/licenses/.
**CHANGELOG**
Carl Araya 2/07/18 - Initial creation
Nikki Florita 2/07/18 - Adding layout to Master
Nikki Florita 2/09/18 - Adding licenses and indention editing
Nikki Florita 3/16/18 - Change links
-->
<!--
File created on: 2/07/18
Developer: Nikki Florita
Client: UP Diliman Department of Computer Science Student Organizations
This software aims to provide a convenient avenue for student organizations to display their org and collect contact information from students interested in joining them.
-->
     
<!DOCTYPE html>
<html>
     <head>
          <title>CoUPonApp</title>
          <%= csrf_meta_tags %>

          <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     </head>

     <body>
          <div class="ui red inverted menu borderless" id="navbar">
               <div class="item">
                    <img src="/images/logo.png" class="logo"/>
                    <img src="/images/name.png" class="name"/>
               </div>
               <div class="right menu">
                    <%= link_to "Home", root_path, class: "item" %>
                    <%= link_to "Organizations", orgs_path, class: "item" %>
                    <%= link_to "Apply", apply_path, class: "item" %>
                    <%= link_to "Manage", (org_signed_in? ? manage_url : new_org_session_path), class: "item" %>
                    <% if org_signed_in? %>
                      <%= link_to "Sign Out", destroy_org_session_path, method: :delete, class: "item" %>
                    <% end %>
                    <% if admin_signed_in? %>
                      <%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class: "item" %>
                    <% else %>
                      <%= link_to "Admin", new_admin_session_path, class: "item" %>
                    <% end %>
                    <%= link_to "About", about_path, class: "item" %>
               </div>
          </div>
           <% if @alt_controllers.include?(params[:controller]) %>
             <% if notice %>
               <div class="ui message notice">
                 <i class="close icon"></i>
                 <%= notice %>
               </div>
             <% end %>
             <% if alert %>
               <div class="ui message alert">
                 <i class="close icon"></i>
                 <%= alert %>
               </div>
             <% end %>
           <% end %>
          <div class="ui container segment" id="main-content">
               <%= yield %>
               <% if not @alt_controllers.include?(params[:controller]) %>
                 <% if notice %>
                   <div class="ui message notice">
                     <i class="close icon"></i>
                     <%= notice %>
                   </div>
                 <% end %>
                 <% if alert %>
                   <div class="ui message alert">
                     <i class="close icon"></i>
                     <%= alert %>
                   </div>
                 <% end %>
               <% end %>
          </div>
     </body>
</html>
